.page-header {
  margin-top: 30px;
  color: greenyellow;
  font-weight: bolder;
}

.fa-trash-alt {
  color: red;
  float: right;
  cursor: pointer;
}

.todo-complete {
  text-decoration: line-through;
}

.todo-status-checkbox {
  cursor: pointer;
  margin-right: 10px;
}

      body  {
        background-color: rgb(142, 197, 97);
        
        background: linear-gradient(to right, #F7CAC9, #92A8D1);
      }
      
      quote-container {
          text-align: center;
          margin-bottom: 2rem;
              } 
.quote-container {
              text-align: center;
              margin-bottom: 1rem;
              margin-left: auto;
              margin-right: auto;
}
.quote {
              font-family: 'Satisfy Regular', cursive;
              font-size: 1.2rem;
              font-weight: 600;
              background: linear-gradient(to right, #d31414c7, #181a88, #187032);
              -webkit-background-clip: text;
              -webkit-text-fill-color: transparent;
              margin-bottom: 0.5rem;
  
}
.page-header {
        margin-top: 30px;
        background: linear-gradient(to right, #9b0b42c7, #181a88, #187032 );
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-weight: 900;
}

.quote-author {
  font-family: 'Satisfy Regular', cursive;
  font-size: 1.2rem;
  color: #666666;
}
.list-group-item {
      margin-bottom: 15px;
}
    
